.page {
	@media (min-width:$screen-sm) {
		min-height:100%;
		height:auto;
		margin: 0 auto (- ($footer-height + $footer-top-margin + $footer-vert-padding + $footer-vert-padding));
		padding: 120px 0 $footer-height + $footer-top-margin + $footer-vert-padding + $footer-vert-padding;
	}
	> .first-section {
		margin-top:4rem;
	}
}
