.grid {
	list-style: none;
	margin: 30px auto;
	padding: 0;
	@include perspective(1300px);
	li {
		display: block;
		float: left;
		padding:1rem 2rem 3rem;
		width: 25%;
		opacity: 0;
		&.animate {
			@include transform-style(preserve-3d);
			@include transform(scale(0.4));
			@include animation(popUp .8s ease-in forwards);
		}
		a:hover {text-decoration:none}
		a,img {
			outline: none;
			border: none;
			display: block;
			max-width: 100%;
		}
		@media (max-width:900px) {width:50%}
		@media (max-width:400px) {width:100%}
	}
}
.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}
