.products {
	> li {
		margin-right:3rem;
		&:last-of-type {margin-right:0}
		img {
			border-radius:50%;
		}
	}
}

.grid {
	> li {
		.category-title {
			font-size:2.5rem;
			color:$text-color;
			@include font-light;
			margin-top:1rem;
			margin-bottom:.5rem;
		}
		.category-summary {
			color:lighten($text-color,25%);
			font-size:1.6rem;
			min-height:45px;
		}
	}
}
