.navbar-toplevel {
	background:darken($primary-color,10%);
}

.nav-secondary {
	position:relative;
	float:right;
	&.list{margin-top:2.6rem;}
	> li > a {color:white}
	@media (max-width:$screen-sm) {display:none}
}

.search-bar {
	margin-top:2rem;
	margin-left:2rem;
	float:right;
	width:auto;
	width:20vmax;
	@include transition(all .3s);
	@media (max-width:$screen-sm) {display:none}
}
.search {
	border:0;
	width:100%;
}
.search-btn {
	display: block;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 4px;
	width: 35px;
	button {
		color: #888;
		float: right;
		display: block;
		background: none;
		-webkit-appearance: none;
		border: 0;
		font-size: 24px;
	}
}
