ul.social-icons {
	@include ul-reset;
	@include clearfix;
	float:right;
	margin-top:4rem;
	li {
		text-align:center;
		float:left;
		margin-right:1rem;
		a {
			display:block;
			color:white;
			font-size:3rem;
			height:5.5rem;
			width:5.5rem;
			border-radius:50%;
			box-shadow:none;
			&:hover {
				@include animation(icon-border .5s ease);
				i {
					@include animation(social-icon .5s ease);
					//transform:scale(.8);
				}
			}
			> i {
				color:white;
				position:relative;
				top:6px;
				@include transition(all 60ms ease);
				&.fa-facebook,&.fa-google {top:8px}
			}
		}
	}
}

.facebook {
	background:$facebook;
	&:hover {color:lighten($facebook,10%)}
}
.pinterest {
	background:$pinterest;
	&:hover {color:lighten($pinterest,10%)}
}
.twitter {
	background:$twitter;
	&:hover {color:lighten($twitter,10%)}
}
.google {
	background:$google;
	&:hover {color:lighten($google,10%)}
}
