.navbar-fixed-top {
	.dropdown.user-nav {
		> a {
			@media (min-width:$screen-sm) {padding:15px 0 15px 15px}
			img {
				margin-left:1rem;
				border:5px solid rgba(white,.3);
				width:50px;
				@include transition(all .2s);
				@media (max-width:$screen-sm) {display:none}
			}
		}
	}
	.navbar-nav .dropdown-menu {
		padding:0;
		background-color:lighten($primary-color,5%);
		border-radius:0;
		border-color:transparent;
		box-shadow:none;
		margin-top:-1px;
		.divider {background-color:$primary-color;margin:0}
		> li {
			font-size:1.5rem;
			> a {
				color:rgba(white,0.8);
				padding:10px 20px;
				&:hover,&:active {
					color:white;
					background:darken($primary-color,5%);
				}
			}
		}
	}
}
.navbar-company {
	background:$navbar-company-bg;
	.navbar-nav {
		> li {
			color:$navbar-company-color;
			&.open > {
				a,a:hover,a:focus {
					color:$navbar-company-link-hover-color;
					background:$navbar-company-link-hover-bg;
				}
			}
			a {
				color:$navbar-company-link-color;
				&:hover {
					color:$navbar-company-link-hover-color;
					background:$navbar-company-link-hover-bg;
				}
				&:active {
					color:$navbar-company-link-hover-color;
					background:$navbar-company-link-hover-bg;
				}
			}
			&.active a {
				color:$navbar-company-link-hover-color;
				background:$navbar-company-link-hover-bg;
			}
			&.disabled a {
				color:$navbar-company-link-disabled-color;
				background:$navbar-company-link-disabled-bg;
			}
		}
	}
}

span.icon-bar {
	background: white;
}

button.navbar-toggle {
	padding-right:0;
	&:before {
		content: "Menu";
		position: absolute;
		right: 35px;
		text-transform: uppercase;
		color: white;
		font-size: 12px;
		top: 8px;
	}
}
