//--- Brand Colors
$primary-color:         #549CCC;
$secondary-color:       #98C73D;
$third-color:           #67CDDC;

$brand-text-dark:       black;
$brand-text-light:      white;

$facebook:              #43609C;
$pinterest:             #C92228;
$twitter:               #1CC1f7;
$google:                #DD4C3B;

//--- Footer Styles
$footer-bg:             #5D656C;
$footer-color:          rgba(white,0.8);
$footer-border:         transparent;
$footer-top-margin:     40px;
$footer-vert-padding:   20px;
$footer-height:         20px;

$toggle-height: 30px;
$toggle-width: 51px;


//--- Grid layout settings
// http://bourbon.io/docs/#flex-grid

$fg-column:             60px;  // Column Width
$fg-gutter:             25px;  // Gutter Width
$fg-max-columns:        12;    // Total Columns For Main Container


//--- Bootstrap variables

$font-family-sans-serif:  $font-regular !default;

$icon-font-path:          "../fonts/";

$grid-gutter-width:         20px !default;

$navbar-height:                    auto;

$navbar-company-color:             #fff !default;
$navbar-company-bg:                $primary-color !default;
$navbar-company-border:            transparent !default;

$navbar-company-link-color:                rgba(white,0.8) !default;
$navbar-company-link-hover-color:          white !default;
$navbar-company-link-hover-bg:             darken($primary-color,5%) !default;
$navbar-company-link-active-color:         white !default;
$navbar-company-link-active-bg:            transparent !default;
$navbar-company-link-disabled-color:       rgba(white,0.4) !default;
$navbar-company-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-company-brand-color:               white !default;
$navbar-company-brand-hover-color:         white !default;
$navbar-company-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-company-toggle-hover-bg:           darken($primary-color,5%) !default;
$navbar-company-toggle-icon-bar-bg:        white !default;
$navbar-company-toggle-border-color:       white !default;

