
.faq {
	margin:3vmax 1rem;
	p {
		font-size: 1.8rem;
		line-height: 3.8rem;
		@include hyphens(manual);
	}
}

.bs-glyphicons-list {
	list-style:none;
	margin:0;
	padding:0;
	@include clearfix;
	li {
		float: left;
		width: 25%;
		height: 115px;
		padding: 10px;
		font-size: 10px;
		line-height: 1.4;
		text-align: center;
		background-color: #f9f9f9;
		border: 1px solid #fff;
		@media (min-width:$screen-sm) {width: 12.5%;font-size: 12px;}
	}
	.glyphicon {margin-top: 5px;margin-bottom: 10px;font-size: 24px;}
	.glyphicon-class {display: block;text-align: center;word-wrap: break-word;}
}

.example-text {
	&.roboto-light {@include font-light}
	&.roboto-thin {@include font-thin}
	&.roboto-medium {@include font-medium}
	&.roboto-bold {@include font-bold}
	&.roboto-condensed {@include font-condensed}
}

.fa-fw {
	margin:10px;
	font-size:24px
}

.jumbotron {
	h1 {margin:0 0 .5em}
	.btn-bs i {margin-left:5px}
}
