@include keyframes(social-icon) {
	50% {transform:(scale(1.4))}
}
@include keyframes(icon-border) {
	50% {box-shadow:0 0 0 10px rgba(white,0.8)}
}


@include keyframes(popUp) {
	0% {}
	70% {
		@include transform(scale(1.1));
		opacity:.8;
		-webkit-animation-timing-function:ease-out;}
	100% {
		@include transform(scale(1));
		opacity:1;
	}
}
