.navbar-collapse {
	@media (max-width:$screen-sm) {
		background-color:lighten($primary-color,5%);
		margin:0 -10px;
	}
	.navbar-nav {
		@media (max-width:$screen-sm) {margin:0 -10px 15.5px}
		&.navbar-right {
			@media (max-width:$screen-sm) {margin-bottom:0}
		}
	}
}

