
@include keyframes(search-expand) {
	0% {width:20vmax}
	100% {width:33vmax}
}

nav.navbar-fixed-top {
	@media (min-width:$screen-sm) {min-height:120px}
	@media (max-width:$screen-sm) {min-height:50px}
	font-size:15px;
	@include transition(all .2s);
	.navbar-right {margin-right:0}
	.navbar-toggle {margin:10px}
	@media (min-width:$screen-sm) {
		&.sticky {
			height:50px;
			min-height:50px;
			@include box-shadow(0 5px white);
			+ .page {padding-top:95px}
			.brand-logo {
				background:url('../img/logo-collapsed.png') no-repeat;
				background-position:0 center;
				width:50px;
				height:50px;
				padding-top:16px;
				padding-bottom:16px;
			}
			.navbar-nav {
				margin-left:80px;
				> li > a {
					padding-top:15px;
					padding-bottom:15px;
				}
			}
			.dropdown.user-nav > a {
				padding:0 0 0 15px;
				img {border:0}
			}
			.navbar-form {padding:9px 0;margin:0}
			.nav-secondary {
				display:none;
			}
			.brand-logo {position:absolute;}
			.navbar-toplevel {
				height:0;
				@include transition(all .3s);
			}
			.search-bar {
				margin-top:.75rem;
				width: 33vmax;
				max-width: 400px;
				@include animation(search-expand .3s ease);
			}
		}
	}
}

.brand-logo {
	background:url('../img/logo.png');
	background-repeat:no-repeat;
	background-position: 5px center;
	text-indent: -9999px;
	display:block;
	@media (max-width:$screen-sm) {
		background: url("../img/logo-mobile.png") 7px center no-repeat !important;
		height:50px;
		width:178px;
		position:absolute
	}
	@media (min-width:$screen-sm) {
		float:left;
		width:300px;
		height:80px;
		padding-left:0
	}
}
