@mixin box($box-sizing) {
	-webkit-box-sizing:$box-sizing;
		 -moz-box-sizing:$box-sizing;
					box-sizing:$box-sizing;
}
@mixin drop-shadow($dropshadow) {
	-webkit-filter:drop-shadow($dropshadow);
		 -moz-filter:drop-shadow($dropshadow);
			-ms-filter:drop-shadow($dropshadow);
			 -o-filter:drop-shadow($dropshadow);
					filter:drop-shadow($dropshadow);
}
@mixin fix-bottom($bottom) {
	position:absolute;
	bottom:$bottom;
}

@mixin random-color($use-color) {
	background:$use-color;
	color:contrast-color($use-color);
}

@mixin ul-reset {
	list-style:none;
	margin:0;
	padding:0;
}
